<%= javascript_include_tag 'encoded_items/index.js' %>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Encode It" %>

<h1 class="header1">Encode It</h1>

<nav class='nav_menu'>
  <ol>
    <li>
      <button id="showDecodedValuesButton" onclick="showMainSecretEntryDialog()">Show Decoded Values</button>
    </li>
    <li>
      <button id="addNewEncodedItemButton" onclick="showAddNewEncodedItemDialog()">Add a New Encoded Item</button>
    </li>
    <li>
      <button id="exportEncodedItemsButton" onclick="exportEncodedItemsBackupFile()">Export Encoded Items</button>
    </li>
    <li>
      <button id="toggleBlurButton" onclick="toggleTableBlur()" aria-pressed="false">Blur Table</button>
    </li>
  </ol>
</nav> 


<dialog id="mainSecretEntryDialog">
  <p>Enter the main secret:</p>
  <input autofocus type="text" autocomplete="off" id="mainSecretEntryText"><br><br>
  <button onclick='processMainSecretEntrySubmission()'>Submit</button>
  <button onclick='hideMainSecretEntryDialog()'>Cancel</button>
</dialog>

<dialog id="accessDeniedDialog">
  <p>You did not enter the correct secret. Decoding failed.</p>
  <button onclick='reopenSecretEntryFromAccessDenied()'>Try Again</button>
  <button onclick='hideAccessDeniedDialog()'>Cancel</button>
</dialog>

<dialog id="deleteItemDialog">
  <p>Are you sure you want to delete this item? This cannot be undone.</p>
  <button id="deleteItemDialogYesButton", onclick="deleteItemFromButtonClick()">Yes</button>
  <button onclick="hideDeleteItemDialog()">No</button> 
</dialog>

<dialog id="exportEncodedItemsDialog">
  <p>A new backup file has been created in the exports directory.</p>
  <button onclick="hideExportEncodedItemsDialog()">OK</button>
</dialog>

<dialog id="addNewEncodedItemDialog">
  <form id="newEncodedItemForm" action="/encoded_items" accept-charset="UTF-8" method="post" onsubmit="processAddNewEncodedItem()">
    <div id="newEncodedItemPreText"></div>
    <div class="dialog-form-group">
      <label>Descriptor:</label>
      <input 
        type="text" 
        autocomplete="off" 
        required=true, 
        id="addNewEncodedItemDescriptor" 
        name="encoded_item[descriptor]"> 
    </div>

    <div class="dialog-form-group">
      <label>Value To Encode:</label>
      <input type="text" autocomplete="off" required=true, id="addNewEncodedItemValue" name="encoded_item[value]"> 
    </div>
    <br>

    <div>
      <button id="saveNewItemButton"> Save Item </button>
      <%if @does_main_item_exist %>
          <button id="cancelButton" onclick="hideAddNewEncodedItemDialog()" >Cancel and Go Back</button>
      <% end %>
    </div>
  </form>
</dialog>

<input type="hidden" id="formAuthenticityToken" value="<%= form_authenticity_token %>">

<div id="encoded_item" class="scrollable-table">
  <table>
    <thead id="encodedItemsTableHeader">
      <tr>
        <th>Descriptor</th>
        <th>Encoded Value</th>
        <th>Decoded Value</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="encodedItemsTableBody">
      <% @encoded_items.each do |encoded_item| %>
        <%= render partial: 'encoded_items/encoded_item_row', locals: { encoded_item: encoded_item } %>
      <% end %>
    </tbody>
  </table>
</div>
