<% content_for :title, "New encoded item" %>

<h1 class="header1">New Encoded Item</h1>

<% unless @does_main_item_exist %>
  <b>
    <p>
      Before using anything else in this application,
      you must enter a value to encode for MAIN ENCODED ITEM,
      which you can do below.
    </p>
    <p>
      Remember what you enter here,
      because you will need to enter it for creating and decoding other items.
    </p>
  </b>
  </br>
<% end %>

<%= render "form", encoded_item: @encoded_item %>
