/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 body {
  background: linear-gradient(to bottom, rgb(22, 21, 23), rgb(7, 6, 8) );
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  padding-left: 20px;
 }

 dialog {
  background-color: #b8c2c5;
  padding: 25px;
  border: 1px solid #dddddd;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  text-align: center;
  animation-name: standardFadeIn;
  animation-duration: 1s;
 }

@keyframes standardFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes delayedFadeIn {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideAndFadeInHeader {
  0% { 
    transform: translateX(-500px);
    opacity: 0;
   }
  100% { 
    transform: translateX(0px);
    opacity: 1; 
  }
}

 .header1 {
    font-size: 55px;
    font-weight: bold;
    animation-name: slideAndFadeInHeader;
    animation-duration: 2s;
    color: #cfdfe4;
 }

 .subheader1 {
  font-size: 20 px;
  font-weight: bold;
  animation-name: delayedFadeIn;
  animation-duration: 3s;
  color: #cfdfe4;
  padding-left: 20px;
 }

 .hidden_encoded_value {
    font-size: 15px;
    font-weight: bold;
 }

 .revealed_encoded_value {
  font-size: 12px;
  font-weight: normal;
 }

 

 table {
    border-collapse: collapse;
    animation-name: delayedFadeIn;
    animation-duration: 3s;
    table-layout: fixed;
    height: 600px;
    width: 1300px;
    overflow: auto;
    display: block;
    box-shadow: 0 12px 18px rgba(2, 0, 12, 1);
  }
  
  th {
    border: 3px solid #c1ced6;
    text-align: center;
    padding: 10px;
    min-width: 200px;
    max-width: 300px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 15px;
    background-color: #c1ced6;
  }

  td {
    border: 3px solid #e4e4e4;
    text-align: center;
    padding: 8px;
    min-width: 200px;
    max-width: 300px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 12px;
    animation-name: delayedFadeIn;
    animation-duration: 4s;
  }
  
  tr:nth-child(even) {
    background-color: #ebebeb;
  }

  tr:nth-child(odd) {
    background-color: #e3e3e3;
  }

  .td-action-button {
    font-weight: bold;
    background-color: #c9d3dc;
    border-color: #e7f6ff;
    font-size: 12px;
    padding: 5px;
    border-width: 2px;
  }

  .nav_menu ol {
    list-style-type: none;
    padding-left: 0;
  }
  
  .nav_menu li {
    display: inline-block;
  }

  .nav_menu button {
    font-weight: bold;
    background-color: #c1ced6;
    border-color: #e7f6ff;
    font-size: 12px;
    animation-name: delayedFadeIn;
    animation-duration: 2s;
  }

  .form-label {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    color: #cfdfe4;
    width: 140px;
    text-align: right;
    margin-bottom: 10px;
  }
