/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 body {
  background-color: #eafbff;
  font-family: 'Helvetica', sans-serif;
  padding-left: 20px;
  
 }

 dialog {
  background-color: #e6f9ff;
  padding: 25px;
  border: 1px solid #dddddd;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  text-align: center;
 }

 .header1 {
    font-size: 42px;
 }

 .hidden_encoded_value {
    font-size: 20px;
    font-weight: bold;
 }

 .revealed_encoded_value {
  font-size: 16px;
  font-weight: normal;
 }

 table {
    border-collapse: collapse;
    width: 75%;
  }
  
  th {
    border: 1px solid #cfdfe4;
    text-align: center;
    padding: 10px;
    min-width: 200px;
    font-size: 20px;
    background-color: #c1e0f1;
  }

  td {
    border: 1px solid #bfcfd4;
    text-align: center;
    padding: 8px;
    min-width: 150px;
  }
  
  tr:nth-child(even) {
    background-color: #deecf5;
  }

  tr:nth-child(odd) {
    background-color: #e7f6ff;
  }

  .td-action-button {
    font-weight: bold;
    background-color: #bed2e2;
    border-color: #e7f6ff;
    padding: 5px;
    border-width: 2px;
  }

  .nav_menu ol {
    list-style-type: none;
    padding-left: 0;
  }
  
  .nav_menu li {
    display: inline-block;
  }

  .nav_menu button {
    font-weight: bold;
    background-color: #9ac1da;
    border-color: #e7f6ff;
  }

  .form-label {
    display: inline-block;
    font-weight: bold;
    width: 140px;
    text-align: right;
    margin-bottom: 10px;
  }
